<div class="bar-top">
    <div class="container">
        <div class="cabecalho line flex align-center justify-between">
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="list-option flex">
                {% if Translation('ag_telefone_1')%}
                {% set tel = Translation('ag_telefone_1') %}
                {% set tellink = tel|replace({'(': '', ')': '', ' ':'', '-': ''}) %}
                <div class="text">TELEFONE {% if Translation('ag_telefone_1') %}<a href="tel:{{ tellink }}">{{ Translation('ag_telefone_1') }}</a>{% endif %}</div>
                {% endif %}
                {% if Translation('ag_telefone_3') %}
                {% set whats = Translation('ag_telefone_3') %}
                {% set link = whats|replace({'(': '', ')': '', ' ':'', '-': ''}) %}
                <div class="text"><a href="https://api.whatsapp.com/send?l=pt&phone=55(11) 97239-6117&text=Poderia%20me%20ajudar?" target="_blank">WHATSAPP {{ Translation('ag_telefone_3') }}</a></div>
                {% endif %}
                {% if settings.rastreio %}
                <div class="text rastreio">
                    <span>RASTREAR ENCOMENDA</span>
                    <div class="modal-white">
                        <div class="title">DIGITE O CÓDIGO DE RASTREIO E ACOMPANHE SEU PEDIDO</div>
                        <form target="_blank" action="https://www2.correios.com.br/sistemas/rastreamento/ctrl/ctrlRastreamento.cfm?">
                            <input type="hidden" name="track" value="track">
                            <input autocomplete="off" type="text" name="objetos" placeholder="Digite seu código">
                            <button class="botao-commerce">RASTREAR PRODUTO</button>
                        </form>
                    </div>
                </div>
                {% endif %}
              </div>
              {% if settings.logo_white %}
              <a href="https://www.stacruzartigoscatolicos.com.br/" class="logo-top">
                <img src="{{ themePath }}{{ settings.logo_white }}" alt="{{ store.name }}">
             </a>
             {% endif %}
             <div class="right-action flex">
                <div class="search active">
                    <svg class="icon-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" >
                        <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"></path>
                    </svg>
                    <form class="box-search"  action="{{ links.search }}" method="get" data-search="suggestion">
                        <input type="hidden" name="loja" value="{{ store.id }}">
                        <input class="input-search" placeholder="Procure aqui o seu livro" spellcheck="false" autocomplete="off" autocorrect="off" data-input="suggestion" type="text"  name="palavra_busca">
                       
                            
                        </svg>
                        <button class="button-search">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" >
                                <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="account flex align-center">
                    <span class="uppercase">Minha Conta</span>
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 451.847 451.847">
                        <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"></path>
                    </svg>
                    <div class="modal-white tray-hide" data-logged-user="false">
                        <a class="link-modal botao-commerce" href="https://www.stacruzartigoscatolicos.com.br/central-do-cliente">Entrar</a>
                        <span class="step"><span class="bg">ou</span></span>
                        <a class="register" href="https://www.stacruzartigoscatolicos.com.br/cadastro">Cliente novo? Cadastre-se</a>
                    </div>
                    <div class="modal-white tray-hide" data-logged-user="true">
                        <a class="link-modal botao-commerce" href="{{ links.central }}">Minha conta</a>
                        <span class="step"><span class="bg">ou</span></span>
                        <a class="register" href="{{ links.logout }}">Sair</a>
                    </div>
                </div>
                <div class="cart-header flex align-center">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.593 24">
                        <path d="M91.725,4.154a4.429,4.429,0,0,0-8.841,0H79.008V24H95.6V4.154ZM87.3,1.406a3.027,3.027,0,0,1,3.01,2.747h-6.02A3.027,3.027,0,0,1,87.3,1.406Zm6.89,21.188H80.414V20.817h13.78v1.777Zm0-3.183H80.414V5.56h2.461V7.177h1.406V5.56h6.047V7.177h1.406V5.56h2.461Z" transform="translate(-79.008)"/>
                    </svg>
                    <span class="number" data-cart="amount"></span>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="header">

    <div class="line-logo flex justify-center align-center">
        
        <a href="{{ store.url }}">
            {% if settings.logo_dark %}<img src="{{ themePath }}{{ settings.logo_dark }}" alt="{{ store.name }}">{% endif %}
            {% if 'home' in pages.current %}
            <h1 class="title-store">{{ store.name }}</h1>
            {% else %}
            <div class="title-store">{{ store.name }}</div>
            {% endif %}
        </a>
        
    </div>

    {% element 'snippets/menu' %}
    
</div>