<div class="catalog-header">
    {% if banner.title %}
        <div class="banner">
            <div class="{{ banners.title.type == 'javascript' ? 'slide-catalog' }}">
            {% if banners.title.type == "javascript" %}
                {% for slide in banners.title.slides %}
                <div class="item">
                    {% if slide.link %}
                    <a href="{{ slide.link }}" target="{{ slide.target }}">
                        <img src="{{ asset('img/square.png') }}" data-lazy="{{ slide.image }}" alt="banner">
                    </a>
                    {% else %}
                    <a>
                        <img src="{{ asset('img/square.png') }}" data-lazy="{{ slide.image }}" alt="banner">
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
    
            {% else %}
                <div class="item">
                    {% if banners.title.link %}
                    <a href="{{ banners.title.link }}" target="{{ banners.title.target }}">
                        <img src="{{ banners.title.src }}" alt="banner">
                    </a>
                    {% else %}
                    <a>
                        <img src="{{ banners.title.src }}" alt="banner">
                    </a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
    
        </div>
    {% endif %}
    </div>
    <div class="container">
            <div class="catalog-cols flex">
                <div class="sidebar-category">
                    {% element 'smartfilter' %}
                </div>
                <div class="col-content">
                    {% element 'snippets/breadcrumb' %}
                    <div class="bar-info-catalog flex flex-wrap justify-between {{ products|length > 0 ? '' : 'null' }}">
                        
                        <h1 class="catalog-name">{{ category.name }}</h1>
                        {% if products|length > 0 %}
                        <div class="system-filter flex justify-center {{ settings.compare ? 'compare-true' }}">
                            
                            <div class="button-filter">Filtrar</div>
                            {% element 'snippets/filter' {
                                'brands': category.brands
                            } %}
    
                            {% if settings.compare %}
                                <a href="/loja/comparador.php?loja={{store.id}}&IdDep={{category.id}}" class="button-compare">{{ Translation("comparar_produto") }}</a>
                            {% endif %}
                        </div>
                        {% endif %} 
                    </div>
                    {% if category.small_description %}
                    <div class="description">
                        <div class="board_htm">
                            {{ category.small_description }}
                        </div>
                    </div>
                    {% endif %}
                    {% if products|length > 0 %}
                    
                    <div class="catalog-content">
                        {% element 'showcase-catalog' {
                            "products": products
                        } %}
                    </div>
                
                    <div class="catalog-footer pagination">
                        {% element 'snippets/paginate' %}
                    </div>
                
                {% else %}
                    <div class="catalog-empty">
                        <p>): {{ Translation('nenhum_resultado') }}</p>
                    </div>
                {% endif %}
                </div>
            </div>
        
        {% if banner.bottom %}
            <div class="banner banner-bottom">
                <div class="{{ banners.bottom.type == 'javascript' ? 'slide-catalog' }}">
                {% if banners.bottom.type == "javascript" %}
                    {% for slide in banners.bottom.slides %}
                    <div class="item">
                        {% if slide.link %}
                        <a href="{{ slide.link }}" target="{{ slide.target }}">
                            <img src="{{ asset('img/square.png') }}" data-lazy="{{ slide.image }}" alt="banner">
                        </a>
                        {% else %}
                        <a>
                            <img src="{{ asset('img/square.png') }}" data-lazy="{{ slide.image }}" alt="banner">
                        </a>
                        {% endif %}
                    </div>
                    {% endfor %}
        
                {% else %}
                    <div class="item">
                        {% if banners.bottom.link %}
                        <a href="{{ banners.bottom.link }}" target="{{ banners.bottom.target }}">
                            <img src="{{ banners.bottom.src }}" alt="banner">
                        </a>
                        {% else %}
                        <a>
                            <img src="{{ banners.bottom.src }}" alt="banner">
                        </a>
                        {% endif %}
                    </div>
                {% endif %}
                </div>
                
            </div>
        {% endif %}
        </div>